body {
    margin: 10px;
}

h1 {
    font-size: 2em;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.5em;
    margin: 10px 0 5px 0;
}

#id_table_1 {
    padding: 10px 10px 0 0;
	table-layout: fixed;
	//width: 100%;
}

div.scroll_div {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

.desc {
    color: #333333;
}

p.url {
    padding: 0;
}

td {
    vertical-align: center;
    text-align: center;
}

.cl_click {
    cursor: pointer;
}
.cl_maybe {

    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: white;
}

.cl_yes {
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: #00dd00;
}
.cl_no {
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: red;
}


th {
    padding: 7px;
    background-color: aliceblue;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    border-color: white;
}

#id_title {
    padding-left: 50px;
    font-size: 2em;
    vertical-align: top;
    text-align: left;
}
#id_descr {
    font-size: 1.5em;
    text-align: left;
}
.cl_comment td {
    padding: 2px 0;
    min-width: 100px;
    text-align: left;
}
#id_comment {
    width: 400px;
    height: 100px;
}

.cl_user_comments {
    table-layout: fixed;
}
.cl_user_comments td {
    text-align: left;
}
.cl_user_comments th {
    word-wrap: break-word;
    vertical-align: top;
    text-align: center;
}
.wordwrap {
	width: 50%;
	min-width: 400px;
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;
	word-break: break-all;

}
#id_user_name {
    font-size: 1.1em;
    text-align: left;
}
#id_user_dt {
    font-size: 0.6em;
    text-align: left;
}

.cl_total_y {
	background-color: #00dd00;
	border-left: 2px solid;
	border-color: white;
}
.cl_total_n {
	background-color: red;
}
#id_tab_total {
	height: 2em;
	width: 100%;
	position: relative;
	top: 1px;
}
footer {
        text-align: center;
        color: #777;
}
