th {
    padding: 7px;
    background-color: aliceblue;
}
td {
    vertical-align: top;
}

.cl_pad_left {
    padding-left: 30px;
}

.cl_del_item {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;

}
.cl_del_item:hover {
    background-color: red;
}